In [1]:
import folium
import json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os
import geopandas as gpd
from shapely.geometry import Point

In [2]:
path = '/Users/thaliagiraldo/Library/Mobile Documents/com~apple~CloudDocs/CareerFoundry/Immersion/Lesson 6'

In [3]:
df = pd.read_csv(os.path.join(path, 'OHE_cleaned_Feb1.csv'), index_col = False)

In [4]:
df.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,...,start_time,end_time,ride_day_of_week,ride_day_of_week_numeric,hour_start_time,time_of_day,classic_bike,electric_bike,casual,member
0,0,4EAD8F1AD547356B,electric_bike,11/30/23 21:50,11/30/23 22:13,Millennium Park,13008,Pine Grove Ave & Waveland Ave,TA1307000150,41.881101,...,9:50 PM,10:13 PM,Thursday,3,21,evening,0,1,0,1
1,1,6322270563BF5470,electric_bike,11/3/23 9:44,11/3/23 10:17,Broadway & Sheridan Rd,13323,Broadway & Sheridan Rd,13323,41.952868,...,9:44 AM,10:17 AM,Friday,4,9,morning,0,1,0,1
2,2,B37BDE091ECA38E0,electric_bike,11/30/23 11:39,11/30/23 11:40,State St & Pearson St,TA1307000061,State St & Pearson St,TA1307000061,41.897533,...,11:39 AM,11:40 AM,Thursday,3,11,morning,0,1,0,1
3,3,CF0CA5DD26E4F90E,classic_bike,11/8/23 10:01,11/8/23 10:27,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,...,10:01 AM,10:27 AM,Wednesday,2,10,morning,1,0,0,1
4,4,EB8381AA641348DB,classic_bike,11/3/23 16:20,11/3/23 16:54,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,...,4:20 PM,4:54 PM,Friday,4,16,afternoon,1,0,0,1

In [6]:
df = df.drop(columns = ['Unnamed: 0'])

In [7]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,start_time,end_time,ride_day_of_week,ride_day_of_week_numeric,hour_start_time,time_of_day,classic_bike,electric_bike,casual,member
0,4EAD8F1AD547356B,electric_bike,11/30/23 21:50,11/30/23 22:13,Millennium Park,13008,Pine Grove Ave & Waveland Ave,TA1307000150,41.881101,-87.624082,...,9:50 PM,10:13 PM,Thursday,3,21,evening,0,1,0,1
1,6322270563BF5470,electric_bike,11/3/23 9:44,11/3/23 10:17,Broadway & Sheridan Rd,13323,Broadway & Sheridan Rd,13323,41.952868,-87.650035,...,9:44 AM,10:17 AM,Friday,4,9,morning,0,1,0,1
2,B37BDE091ECA38E0,electric_bike,11/30/23 11:39,11/30/23 11:40,State St & Pearson St,TA1307000061,State St & Pearson St,TA1307000061,41.897533,-87.628694,...,11:39 AM,11:40 AM,Thursday,3,11,morning,0,1,0,1
3,CF0CA5DD26E4F90E,classic_bike,11/8/23 10:01,11/8/23 10:27,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,...,10:01 AM,10:27 AM,Wednesday,2,10,morning,1,0,0,1
4,EB8381AA641348DB,classic_bike,11/3/23 16:20,11/3/23 16:54,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,...,4:20 PM,4:54 PM,Friday,4,16,afternoon,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362459,30B44BD4C16E688C,classic_bike,11/24/23 8:39,11/24/23 8:47,Clark St & Wellington Ave,TA1307000136,Southport Ave & Wellington Ave,TA1307000006,41.936497,-87.647539,...,8:39 AM,8:47 AM,Friday,4,8,morning,1,0,0,1
362460,094A79892812BAB9,classic_bike,11/6/23 9:07,11/6/23 9:10,Aberdeen St & Jackson Blvd,13157,Peoria St & Jackson Blvd,13158,41.877726,-87.654787,...,9:07 AM,9:10 AM,Monday,0,9,morning,1,0,0,1
362461,F0A7DF8A44FDA3CB,electric_bike,11/10/23 19:35,11/10/23 19:44,Halsted St & Roscoe St,TA1309000025,Southport Ave & Wellington Ave,TA1307000006,41.943687,-87.648855,...,7:35 PM,7:44 PM,Friday,4,19,evening,0,1,0,1
362462,4D5E3685BB913A3C,classic_bike,11/27/23 9:11,11/27/23 9:13,Aberdeen St & Jackson Blvd,13157,Peoria St & Jackson Blvd,13158,41.877726,-87.654787,...,9:11 AM,9:13 AM,Monday,0,9,morning,1,0,0,1
362463,1FA95C375BE4B6A6,electric_bike,11/20/23 16:16,11/20/23 16:17,Aberdeen St & Jackson Blvd,13157,Peoria St & Jackson Blvd,13158,41.877869,-87.654898,...,4:16 PM,4:17 PM,Monday,0,16,afternoon,0,1,0,1