In [1]:
#Import libraries 
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv(r'/Users/thaliagiraldo/Library/Mobile Documents/com~apple~CloudDocs/CareerFoundry/Immersion /Lesson 6/Dataset_DivvyBike.csv',index_col=False)

In [3]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4EAD8F1AD547356B,electric_bike,11/30/23 21:50,11/30/23 22:13,Millennium Park,13008,Pine Grove Ave & Waveland Ave,TA1307000150,41.881101,-87.624082,41.949473,-87.646453,member
1,6322270563BF5470,electric_bike,11/3/23 9:44,11/3/23 10:17,Broadway & Sheridan Rd,13323,Broadway & Sheridan Rd,13323,41.952868,-87.650035,41.952833,-87.649993,member
2,B37BDE091ECA38E0,electric_bike,11/30/23 11:39,11/30/23 11:40,State St & Pearson St,TA1307000061,State St & Pearson St,TA1307000061,41.897533,-87.628694,41.897448,-87.628722,member
3,CF0CA5DD26E4F90E,classic_bike,11/8/23 10:01,11/8/23 10:27,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,41.926277,-87.630834,member
4,EB8381AA641348DB,classic_bike,11/3/23 16:20,11/3/23 16:54,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,41.926277,-87.630834,member

Conducting Data Consistency Checks

In [4]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [5]:
df.shape

(362518, 13)

In [6]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [7]:
# Converting started at and ended at columns into datetime
df['started_at'] = pd.to_datetime(df['started_at'], format='%m/%d/%y %H:%M')
df['ended_at'] = pd.to_datetime(df['ended_at'], format='%m/%d/%y %H:%M')

In [8]:
df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [9]:
#checking for missing values
df['member_casual'].value_counts(dropna=False)

member_casual
member    264126
casual     98392
Name: count, dtype: int64

In [10]:
df['rideable_type'].value_counts(dropna=False)

rideable_type
electric_bike    186361
classic_bike     176157
Name: count, dtype: int64

In [11]:
# There are 55003 NAN start station names
df['start_station_name'].value_counts(dropna=False)

start_station_name
NaN                                      55003
Clinton St & Washington Blvd              2851
University Ave & 57th St                  2636
Kingsbury St & Kinzie St                  2622
Ellis Ave & 60th St                       2446
                                         ...
Public Rack - Halsted St & 76th St           1
Public Rack - Ashland Ave & 71st St          1
Public Rack - Western & 79th                 1
Public Rack - Maplewood Ave & 63rd St        1
Public Rack - Marquette Ave & 83rd St        1
Name: count, Length: 1141, dtype: int64

In [12]:
#There are 55003 NaN start station ids
df['start_station_id'].value_counts(dropna=False)

start_station_id
NaN             55003
WL-012           2851
KA1503000071     2636
KA1503000043     2622
KA1503000014     2446
                ...
23124               1
508                 1
1214                1
1225                1
891                 1
Name: count, Length: 1124, dtype: int64

In [13]:
df['start_lat'].value_counts(dropna=False)

start_lat
41.890000    6450
41.880000    5313
41.930000    4689
41.900000    4479
41.920000    4206
             ...
41.870731       1
41.870718       1
41.870673       1
41.870669       1
41.877869       1
Name: count, Length: 118399, dtype: int64

In [14]:
df['start_lng'].value_counts(dropna=False)

start_lng
-87.650000    9412
-87.630000    7088
-87.660000    6634
-87.640000    6233
-87.670000    6060
              ...
-87.669967       1
-87.669920       1
-87.669871       1
-87.669956       1
-87.654898       1
Name: count, Length: 116992, dtype: int64

In [15]:
df['end_lat'].value_counts(dropna=False)

end_lat
41.890000    6699
41.880000    5631
41.930000    4859
41.900000    4668
41.920000    4422
             ...
41.720964       1
41.974343       1
41.778865       1
41.787539       1
41.953139       1
Name: count, Length: 1196, dtype: int64

In [16]:
df['end_lng'].value_counts(dropna=False)

end_lng
-87.650000    9915
-87.630000    7554
-87.660000    6840
-87.640000    6559
-87.670000    6289
              ...
-87.612921       1
-87.722579       1
-87.672513       1
-87.654146       1
-87.777118       1
Name: count, Length: 1188, dtype: int64

In [17]:
#Viewing all NaN values in this column
missing_start_station = df[df['start_station_name'].isna()]

# Display all rows with missing start_station_name
print(missing_start_station)

                 ride_id  rideable_type          started_at  \
135036  2734576771C30A44  electric_bike 2023-11-14 06:30:00
135037  FC6893FDD3EFEBEF  electric_bike 2023-11-14 20:15:00
135038  8EB773E7BF8FEFD7  electric_bike 2023-11-08 13:56:00
135039  056D95246C53692F  electric_bike 2023-11-13 18:49:00
135041  FE69B2909DF8C34C  electric_bike 2023-11-02 10:09:00
...                  ...            ...                 ...
361393  0ECD0634764A807C  electric_bike 2023-11-09 08:11:00
361398  C87482A2D6C8B6CF  electric_bike 2023-11-08 08:17:00
361399  B4A36688AC371407  electric_bike 2023-11-07 15:37:00
361400  91093CDC95D11D22  electric_bike 2023-11-05 16:48:00
361401  21D2E1DB8EED7033  electric_bike 2023-11-09 23:13:00

                  ended_at start_station_name start_station_id  \
135036 2023-11-14 06:42:00                NaN              NaN
135037 2023-11-14 20:20:00                NaN              NaN
135038 2023-11-08 14:03:00                NaN              NaN
135039 2023-11-13 18:56:00                NaN              NaN
135041 2023-11-02 10:16:00                NaN              NaN
...                    ...                ...              ...
361393 2023-11-09 08:20:00                NaN              NaN
361398 2023-11-08 08:20:00                NaN              NaN
361399 2023-11-07 15:40:00                NaN              NaN
361400 2023-11-05 17:12:00                NaN              NaN
361401 2023-11-09 23:29:00                NaN              NaN

                    end_station_name end_station_id  start_lat  start_lng  \
135036          State St & Kinzie St          13050      41.92     -87.64
135037    Clarendon Ave & Gordon Ter          13379      41.97     -87.66
135038          Rhodes Ave & 32nd St          13215      41.83     -87.63
135039  Kenosha Ave & Wellington Ave          21361      41.93     -87.71
135041    Clarendon Ave & Gordon Ter          13379      41.95     -87.66
...                              ...            ...        ...        ...
361393        Damen Ave & Madison St          13134      41.91     -87.68
361398             900 W Harrison St          13028      41.87     -87.66
361399           Ellis Ave & 60th St   KA1503000014      41.79     -87.60
361400        Damen Ave & Madison St          13134      41.93     -87.64
361401           Ellis Ave & 60th St   KA1503000014      41.80     -87.59

          end_lat    end_lng member_casual
135036  41.889375 -87.627077        member
135037  41.957867 -87.649505        member
135038  41.836208 -87.613533        member
135039  41.934457 -87.733795        member
135041  41.957867 -87.649505        member
...           ...        ...           ...
361393  41.881370 -87.674930        member
361398  41.874754 -87.649807        member
361399  41.785097 -87.601073        member
361400  41.881370 -87.674930        member
361401  41.785097 -87.601073        member

[55003 rows x 13 columns]

In [18]:
#Viewing all NaN values in end column
missing_end_station = df[df['end_station_name'].isna()]

# Display all rows with missing start_station_name
print(missing_end_station)

                 ride_id  rideable_type          started_at  \
134656  1BD2042C0D74B448  electric_bike 2023-11-14 21:16:00
134657  DA97B63616B4C411  electric_bike 2023-11-04 15:09:00
134658  90028890571F74FE  electric_bike 2023-11-22 10:37:00
134659  6A7F34404A485C6F  electric_bike 2023-11-22 13:31:00
134660  CB5758FC1EBB52B5  electric_bike 2023-11-09 15:02:00
...                  ...            ...                 ...
356936  BED01F5039F1C31F  electric_bike 2023-11-16 17:31:00
356937  EFF9509295A98CFF  electric_bike 2023-11-13 22:27:00
356938  5101E71B7505559E  electric_bike 2023-11-01 13:02:00
356939  6B2D6F424DE61EAE  electric_bike 2023-11-12 23:09:00
356940  61AE14A61061A671  electric_bike 2023-11-14 20:00:00

                  ended_at             start_station_name start_station_id  \
134656 2023-11-14 21:22:00  Pine Grove Ave & Waveland Ave     TA1307000150
134657 2023-11-04 15:19:00  Pine Grove Ave & Waveland Ave     TA1307000150
134658 2023-11-22 10:53:00         Broadway & Sheridan Rd            13323
134659 2023-11-22 13:47:00  Pine Grove Ave & Waveland Ave     TA1307000150
134660 2023-11-09 15:15:00  Pine Grove Ave & Waveland Ave     TA1307000150
...                    ...                            ...              ...
356936 2023-11-16 18:08:00     Aberdeen St & Jackson Blvd            13157
356937 2023-11-13 22:32:00         Halsted St & Roscoe St     TA1309000025
356938 2023-11-01 13:08:00        Clark St & Armitage Ave            13146
356939 2023-11-12 23:24:00     Aberdeen St & Jackson Blvd            13157
356940 2023-11-14 20:08:00         Manor Ave & Leland Ave     KA1504000127

       end_station_name end_station_id  start_lat  start_lng  end_lat  \
134656              NaN            NaN  41.949427 -87.646331    41.95
134657              NaN            NaN  41.949330 -87.646314    41.94
134658              NaN            NaN  41.952839 -87.649957    41.94
134659              NaN            NaN  41.949375 -87.646417    41.90
134660              NaN            NaN  41.949393 -87.646464    41.93
...                 ...            ...        ...        ...      ...
356936              NaN            NaN  41.877783 -87.654944    41.91
356937              NaN            NaN  41.943666 -87.648941    41.94
356938              NaN            NaN  41.918373 -87.636428    41.92
356939              NaN            NaN  41.877799 -87.654787    41.87
356940              NaN            NaN  41.965852 -87.700850    41.98

        end_lng member_casual
134656   -87.66        member
134657   -87.67        member
134658   -87.70        member
134659   -87.63        member
134660   -87.67        member
...         ...           ...
356936   -87.69        member
356937   -87.65        member
356938   -87.66        member
356939   -87.68        member
356940   -87.70        member

[57899 rows x 13 columns]

In [19]:
#Checking for duplicates
#no dups
duplicate_rows = df[df.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [20]:
#Checking the counts of all null values for all columns
df.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    55003
start_station_id      55003
end_station_name      57899
end_station_id        57899
start_lat                 0
start_lng                 0
end_lat                 350
end_lng                 350
member_casual             0
dtype: int64

In [21]:
#Viewing all NaN values in end column
missing_end_lat = df[df['end_lat'].isna()]

# Display all rows with missing start_station_name
print(missing_end_lat)

                 ride_id rideable_type          started_at  \
207763  A90811200872D246  classic_bike 2023-11-12 13:43:00
207788  1B1A49061BCF541C  classic_bike 2023-11-05 09:13:00
207856  8A3F442D3144ABBF  classic_bike 2023-11-03 13:57:00
207863  408DCE2DCBDB7A73  classic_bike 2023-11-11 13:22:00
207864  B86C2B5F2570E8B2  classic_bike 2023-11-11 13:21:00
...                  ...           ...                 ...
356624  4B50F7288AB8AC04  classic_bike 2023-11-23 19:51:00
356625  DFEF07E7B5D96DC0  classic_bike 2023-11-23 19:49:00
356661  B101E04C55BEB44E  classic_bike 2023-11-09 15:37:00
356677  C9ED912EF0838595  classic_bike 2023-11-16 08:05:00
356698  0F20F148868027A3  classic_bike 2023-11-19 03:46:00

                  ended_at             start_station_name start_station_id  \
207763 2023-11-13 14:43:00                Millennium Park            13008
207788 2023-11-06 10:13:00                Millennium Park            13008
207856 2023-11-04 14:57:00  Pine Grove Ave & Waveland Ave     TA1307000150
207863 2023-11-12 14:22:00                Millennium Park            13008
207864 2023-11-12 14:21:00                Millennium Park            13008
...                    ...                            ...              ...
356624 2023-11-24 20:51:00        Clark St & Armitage Ave            13146
356625 2023-11-24 20:49:00        Clark St & Armitage Ave            13146
356661 2023-11-10 16:37:00          Clark St & Jarvis Ave              517
356677 2023-11-17 09:04:00      Clark St & Wellington Ave     TA1307000136
356698 2023-11-20 04:46:00           Rush St & Hubbard St     KA1503000044

       end_station_name end_station_id  start_lat  start_lng  end_lat  \
207763              NaN            NaN  41.881032 -87.624084      NaN
207788              NaN            NaN  41.881032 -87.624084      NaN
207856              NaN            NaN  41.949473 -87.646453      NaN
207863              NaN            NaN  41.881032 -87.624084      NaN
207864              NaN            NaN  41.881032 -87.624084      NaN
...                 ...            ...        ...        ...      ...
356624              NaN            NaN  41.918306 -87.636282      NaN
356625              NaN            NaN  41.918306 -87.636282      NaN
356661              NaN            NaN  42.015963 -87.675005      NaN
356677              NaN            NaN  41.936497 -87.647539      NaN
356698              NaN            NaN  41.890173 -87.626185      NaN

        end_lng member_casual
207763      NaN        casual
207788      NaN        casual
207856      NaN        casual
207863      NaN        casual
207864      NaN        casual
...         ...           ...
356624      NaN        casual
356625      NaN        casual
356661      NaN        casual
356677      NaN        casual
356698      NaN        casual

[350 rows x 13 columns]

Addressing Missing Values

In [22]:
#Rename NaN values in start_station_name column to 'outside_dock_pickup'. 
#These bikes were picked up outside of a designated doc. 
#Only e-bikes can be dropped off and picked up outside docs

df['start_station_name'].fillna('outside_dock_pickup', inplace=True)
df['start_station_id'].fillna('outside_dock_pickup', inplace=True)

In [23]:
#Replace all missing end lat and long with Lost/Stolen
df['end_lat'].fillna('0.0', inplace=True)

/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_62196/2513956102.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['end_lat'].fillna('0.0', inplace=True)

In [24]:
#Replace all missing end lat and long with Lost/Stolen
df['end_lng'].fillna('0.0', inplace=True)

/var/folders/t7/fy2gbqpj7r54t9fzj4_6j2v80000gn/T/ipykernel_62196/2598215810.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['end_lng'].fillna('0.0', inplace=True)

In [25]:
#Rename NaN values in end_station_name column to 'outside_dock_dropoff'. 
#These bikes were picked up outside of a designated doc. 
#Only e-bikes can be dropped off and picked up outside docs

df['end_station_name'].fillna('outside_dock_dropoff', inplace=True)
df['end_station_id'].fillna('outside_dock_dropff', inplace=True)

In [26]:
df[df.eq('0.0').any(axis=1)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
207763,A90811200872D246,classic_bike,2023-11-12 13:43:00,2023-11-13 14:43:00,Millennium Park,13008,outside_dock_dropoff,outside_dock_dropff,41.881032,-87.624084,0.0,0.0,casual
207788,1B1A49061BCF541C,classic_bike,2023-11-05 09:13:00,2023-11-06 10:13:00,Millennium Park,13008,outside_dock_dropoff,outside_dock_dropff,41.881032,-87.624084,0.0,0.0,casual
207856,8A3F442D3144ABBF,classic_bike,2023-11-03 13:57:00,2023-11-04 14:57:00,Pine Grove Ave & Waveland Ave,TA1307000150,outside_dock_dropoff,outside_dock_dropff,41.949473,-87.646453,0.0,0.0,casual
207863,408DCE2DCBDB7A73,classic_bike,2023-11-11 13:22:00,2023-11-12 14:22:00,Millennium Park,13008,outside_dock_dropoff,outside_dock_dropff,41.881032,-87.624084,0.0,0.0,casual
207864,B86C2B5F2570E8B2,classic_bike,2023-11-11 13:21:00,2023-11-12 14:21:00,Millennium Park,13008,outside_dock_dropoff,outside_dock_dropff,41.881032,-87.624084,0.0,0.0,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
356624,4B50F7288AB8AC04,classic_bike,2023-11-23 19:51:00,2023-11-24 20:51:00,Clark St & Armitage Ave,13146,outside_dock_dropoff,outside_dock_dropff,41.918306,-87.636282,0.0,0.0,casual
356625,DFEF07E7B5D96DC0,classic_bike,2023-11-23 19:49:00,2023-11-24 20:49:00,Clark St & Armitage Ave,13146,outside_dock_dropoff,outside_dock_dropff,41.918306,-87.636282,0.0,0.0,casual
356661,B101E04C55BEB44E,classic_bike,2023-11-09 15:37:00,2023-11-10 16:37:00,Clark St & Jarvis Ave,517,outside_dock_dropoff,outside_dock_dropff,42.015963,-87.675005,0.0,0.0,casual
356677,C9ED912EF0838595,classic_bike,2023-11-16 08:05:00,2023-11-17 09:04:00,Clark St & Wellington Ave,TA1307000136,outside_dock_dropoff,outside_dock_dropff,41.936497,-87.647539,0.0,0.0,casual
356698,0F20F148868027A3,classic_bike,2023-11-19 03:46:00,2023-11-20 04:46:00,Rush St & Hubbard St,KA1503000044,outside_dock_dropoff,outside_dock_dropff,41.890173,-87.626185,0.0,0.0,casual

Analysis

#Need to do more analysis on each combination of the missing pick up drop off for classic bikes. 
##they are not supposed to be able to pick up and drop off anywhere other than a doc 
##it's possible there's an error or a trend

In [27]:
#showing only classic bike missing end and start station name but there IS a starting and ending long/lat
filtered_df = df[(df['rideable_type'] == 'classic_bike') & (df['end_station_name'].isin(['outside_dock_dropoff'])& (df['start_station_name'].isin(['outside_dock_pickup'])))]

In [28]:
filtered_df.shape

(15, 13)

In [29]:
filtered_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
233393,55147F9BA29342B0,classic_bike,2023-11-01 18:39:00,2023-11-01 18:55:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,member
235844,F751327DCF97EF7E,classic_bike,2023-11-01 22:21:00,2023-11-01 22:41:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,casual
236066,1DBDFAE4AC4EA120,classic_bike,2023-11-02 16:28:00,2023-11-02 16:44:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.93,-87.70,41.93,-87.7,member
236193,348970E7AE32B196,classic_bike,2023-11-05 15:36:00,2023-11-05 15:52:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.88,-87.68,41.88,-87.68,member
237213,BD39D1A7BD2EA134,classic_bike,2023-11-01 19:37:00,2023-11-01 19:53:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,member
237266,AEF9B8894E7870A7,classic_bike,2023-11-01 18:11:00,2023-11-01 18:27:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,member
241250,69AC97C27D9AFD77,classic_bike,2023-11-01 06:36:00,2023-11-01 06:55:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,member
241623,F9DF63878C7B750B,classic_bike,2023-11-01 15:46:00,2023-11-01 16:10:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,member
244597,5C416968B1AF58C6,classic_bike,2023-11-01 09:24:00,2023-11-01 09:40:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,member
251458,8246C01B05846F76,classic_bike,2023-11-01 01:24:00,2023-11-01 01:52:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,member
252971,42DF53BE691DDA2F,classic_bike,2023-11-01 08:46:00,2023-11-01 09:06:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,casual
252986,33860DD1A1DDFA32,classic_bike,2023-11-01 15:19:00,2023-11-01 15:35:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,casual
258029,97F7F9F0A6E655AA,classic_bike,2023-11-06 13:56:00,2023-11-06 14:15:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.88,-87.68,41.88,-87.68,member
259075,1DA7C6D98BDFB0F1,classic_bike,2023-11-01 16:34:00,2023-11-01 16:58:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,member
260141,2FE722850C2C22E6,classic_bike,2023-11-01 12:57:00,2023-11-01 13:13:00,outside_dock_pickup,outside_dock_pickup,outside_dock_dropoff,outside_dock_dropff,41.89,-87.63,41.89,-87.63,member

In [30]:
#Create trip duration in mins/ hours to add to df
df['trip_duration'] = df['ended_at'] - df['started_at']

In [31]:
#Create distance traveled based on geographical coordinates 

from geopy.distance import geodesic

# Define a function to calculate Vincenty distance
def vincenty_distance(row):
    if '0.0' in (row['start_lat'], row['start_lng'], row['end_lat'], row['end_lng']):
        return None  
    
    start_coords = (row['start_lat'], row['start_lng'])
    end_coords = (row['end_lat'], row['end_lng'])
    return geodesic(start_coords, end_coords).miles

# Apply the function to create a new 'trip_distance' column
df['trip_distance_miles'] = df.apply(vincenty_distance, axis=1)

# Display the DataFrame with the new 'trip_distance' column
print(df[['start_lat', 'start_lng', 'end_lat', 'end_lng', 'trip_distance_miles']])

        start_lat  start_lng    end_lat    end_lng  trip_distance_miles
0       41.881101 -87.624082  41.949473 -87.646453             4.857630
1       41.952868 -87.650035  41.952833 -87.649993             0.003233
2       41.897533 -87.628694  41.897448 -87.628722             0.006015
3       41.926277 -87.630834  41.926277 -87.630834             0.000000
4       41.926277 -87.630834  41.926277 -87.630834             0.000000
...           ...        ...        ...        ...                  ...
362513  41.936497 -87.647539  41.935775   -87.6636             0.829189
362514  41.877726 -87.654787  41.877642 -87.649618             0.266712
362515  41.943687 -87.648855  41.935775   -87.6636             0.935676
362516  41.877726 -87.654787  41.877642 -87.649618             0.266712
362517  41.877869 -87.654898  41.877642 -87.649618             0.272805

[362518 rows x 5 columns]

In [32]:
df.head(20)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,trip_distance_miles
0,4EAD8F1AD547356B,electric_bike,2023-11-30 21:50:00,2023-11-30 22:13:00,Millennium Park,13008,Pine Grove Ave & Waveland Ave,TA1307000150,41.881101,-87.624082,41.949473,-87.646453,member,0 days 00:23:00,4.857630
1,6322270563BF5470,electric_bike,2023-11-03 09:44:00,2023-11-03 10:17:00,Broadway & Sheridan Rd,13323,Broadway & Sheridan Rd,13323,41.952868,-87.650035,41.952833,-87.649993,member,0 days 00:33:00,0.003233
2,B37BDE091ECA38E0,electric_bike,2023-11-30 11:39:00,2023-11-30 11:40:00,State St & Pearson St,TA1307000061,State St & Pearson St,TA1307000061,41.897533,-87.628694,41.897448,-87.628722,member,0 days 00:01:00,0.006015
3,CF0CA5DD26E4F90E,classic_bike,2023-11-08 10:01:00,2023-11-08 10:27:00,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,41.926277,-87.630834,member,0 days 00:26:00,0.000000
4,EB8381AA641348DB,classic_bike,2023-11-03 16:20:00,2023-11-03 16:54:00,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,41.926277,-87.630834,member,0 days 00:34:00,0.000000
5,B8CF14EA423D6886,electric_bike,2023-11-30 16:15:00,2023-11-30 16:39:00,Pine Grove Ave & Waveland Ave,TA1307000150,Millennium Park,13008,41.949423,-87.646385,41.881032,-87.624084,member,0 days 00:24:00,4.858094
6,1763B0A2778C185E,classic_bike,2023-11-09 11:55:00,2023-11-09 13:08:00,Millennium Park,13008,Millennium Park,13008,41.881032,-87.624084,41.881032,-87.624084,casual,0 days 01:13:00,0.000000
7,8307B5F616A3D2EE,classic_bike,2023-11-19 14:37:00,2023-11-19 14:59:00,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,41.926277,-87.630834,member,0 days 00:22:00,0.000000
8,90B4E47C4977935E,classic_bike,2023-11-19 15:12:00,2023-11-19 15:27:00,Pine Grove Ave & Waveland Ave,TA1307000150,Theater on the Lake,TA1308000001,41.949473,-87.646453,41.926277,-87.630834,member,0 days 00:15:00,1.791834
9,A9A78F624F996079,classic_bike,2023-11-09 19:34:00,2023-11-09 19:37:00,Pine Grove Ave & Waveland Ave,TA1307000150,Pine Grove Ave & Waveland Ave,TA1307000150,41.949473,-87.646453,41.949473,-87.646453,member,0 days 00:03:00,0.000000
10,B7F4685AA1B6745C,classic_bike,2023-11-12 13:06:00,2023-11-12 13:07:00,Pine Grove Ave & Waveland Ave,TA1307000150,Pine Grove Ave & Waveland Ave,TA1307000150,41.949473,-87.646453,41.949473,-87.646453,member,0 days 00:01:00,0.000000
11,5B1080FD3070BFB9,classic_bike,2023-11-25 16:20:00,2023-11-25 17:04:00,Pine Grove Ave & Waveland Ave,TA1307000150,Pine Grove Ave & Waveland Ave,TA1307000150,41.949473,-87.646453,41.949473,-87.646453,member,0 days 00:44:00,0.000000
12,D3803DFC8A4C505B,classic_bike,2023-11-19 19:30:00,2023-11-19 19:31:00,Lincoln Ave & Diversey Pkwy,TA1307000064,Lincoln Ave & Diversey Pkwy,TA1307000064,41.932225,-87.658617,41.932225,-87.658617,member,0 days 00:01:00,0.000000
13,4FB07384D459BA97,electric_bike,2023-11-18 23:34:00,2023-11-18 23:36:00,Damen Ave & Division St,13136,Damen Ave & Division St,13136,41.903274,-87.678468,41.903266,-87.678435,member,0 days 00:02:00,0.001773
14,E52C1CCD0CAFF4A7,classic_bike,2023-11-03 22:03:00,2023-11-03 22:04:00,Broadway & Sheridan Rd,13323,Broadway & Sheridan Rd,13323,41.952833,-87.649993,41.952833,-87.649993,member,0 days 00:01:00,0.000000
15,0E1417EFF516AC6C,classic_bike,2023-11-17 18:43:00,2023-11-17 18:47:00,Western Ave & Division St,13241,Damen Ave & Division St,13136,41.902893,-87.687275,41.903266,-87.678435,member,0 days 00:04:00,0.456509
16,686F313B3B712C05,classic_bike,2023-11-02 22:52:00,2023-11-02 22:53:00,Lincoln Ave & Diversey Pkwy,TA1307000064,Lincoln Ave & Diversey Pkwy,TA1307000064,41.932225,-87.658617,41.932225,-87.658617,member,0 days 00:01:00,0.000000
17,9D0AB344742EE5CB,electric_bike,2023-11-03 15:23:00,2023-11-03 15:24:00,Damen Ave & Division St,13136,Damen Ave & Division St,13136,41.903262,-87.678505,41.903266,-87.678435,member,0 days 00:01:00,0.003620
18,9F9EFF826D24AB28,electric_bike,2023-11-16 10:25:00,2023-11-16 10:26:00,Pine Grove Ave & Waveland Ave,TA1307000150,Broadway & Sheridan Rd,13323,41.949306,-87.646524,41.952833,-87.649993,member,0 days 00:01:00,0.301983
19,5AF468D00C71BF4F,classic_bike,2023-11-16 09:29:00,2023-11-16 09:31:00,Broadway & Sheridan Rd,13323,Pine Grove Ave & Waveland Ave,TA1307000150,41.952833,-87.649993,41.949473,-87.646453,member,0 days 00:02:00,0.295046

In [33]:
df.describe()

,started_at,ended_at,start_lat,start_lng,trip_duration,trip_distance_miles
count,362518,362518,362518.000000,362518.000000,362518,362168.000000
mean,2023-11-14 01:44:18.314069760,2023-11-14 01:57:53.478117632,41.898961,-87.646777,0 days 00:13:35.164047026,1.196058
min,2023-11-01 00:01:00,2023-10-25 07:31:00,41.648556,-87.940000,-12 days +10:23:00,0.000000
25%,2023-11-07 08:30:00,2023-11-07 08:41:00,41.878795,-87.660141,0 days 00:05:00,0.516244
50%,2023-11-13 14:10:00,2023-11-13 14:27:00,41.894722,-87.644140,0 days 00:08:00,0.864702
75%,2023-11-19 10:35:00,2023-11-19 10:52:00,41.928798,-87.630000,0 days 00:14:00,1.524698
max,2023-11-30 23:59:00,2023-12-01 20:42:00,42.070000,-87.528232,1 days 01:01:00,18.863910
std,NaN,NaN,0.047295,0.027275,0 days 01:21:30.772335052,1.078890

In [34]:
df.to_csv(os.path.join('/Users/thaliagiraldo/Library/Mobile Documents/com~apple~CloudDocs/CareerFoundry/Immersion /Lesson 6', 'divvy_cleaned.csv'))